<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedDevice">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Device Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedDevice">
    {{selectedDevice.nomDevice}}
    <ion-icon name="cog" item-left></ion-icon>
  </h3>
  <p text-center>
    {{selectedDevice.unite.nomUnite}} : {{selectedDevice.lastMetric}} {{selectedDevice.lastMetricUnitName}}
  </p>
  <p text-center>
    GEID : {{selectedDevice.geidDevice}}
  </p>

  <div text-center>
    <button ion-button>Action</button>
  </div>
</ion-content>
